@import "_base.scss";



.icon-btntip {
  @include bg('~@/assets/img/icon-btntip.png', pem(10), pem(10));
  background-size: pem(34) pem(34);
}

.icon-btntip2 {
  @include bg('~@/assets/img/icon-btntip.png', pem(30), pem(10));
  background-size: pem(34) pem(34);
}

.icon-choice-btntip {
  @include bg('~@/assets/img/icon-choice-play-btn-bg.png', 0, 0);
  background-size: pem(156) pem(156);
}

.icon-sltbtn-bg {
  @include bg('~@/assets/img/icon-sltbtn-bg.png', 0, 0);
  background-size: pem(192) pem(240);
}

.icon-sltbtn-bg2 {
  @include bg('~@/assets/img/icon-sltbtn-bg2.png', pem(0), pem(0));
  background-size: pem(192) pem(240);
}

.icon-arrow-r {
  @include bg('~@/assets/img/icon-arrow-r.png', pem(0), pem(0));
  background-size: pem(108) pem(108);
}

.icon-arrow-r2 {
  @include bg('~@/assets/img/icon-arrow-r2.png', pem(0), pem(0));
  background-size: pem(108) pem(108);
}

/* 如果设备像素大于等于2，则用2倍图 */
//@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
//  .icon-btntip {
//    @include bg('~@/assets/img/icon-btntip@2x.png', pem(10), pem(10));
//    background-size: pem(68) pem(68);
//  }
//  .icon-btntip2 {
//    @include bg('~@/assets/img/icon-btntip@2x.png', pem(30), pem(10));
//    background-size: pem(68) pem(68);
//  }
//  .icon-sltbtn-bg {
//    @include bg('~@/assets/img/icon-sltbtn-bg@2x.png', pem(0), pem(0));
//    background-size: pem(384) pem(480);
//  }
//  .icon-sltbtn-bg2 {
//    @include bg('~@/assets/img/icon-sltbtn-bg2@2x.png', pem(0), pem(0));
//    background-size: pem(384) pem(480);
//  }
//  .icon-arrow-r {
//    @include bg('~@/assets/img/icon-arrow-r@2x.png', pem(0), pem(0));
//    background-size: pem(216) pem(216);
//  }
//  .icon-arrow-r2 {
//    @include bg('~@/assets/img/icon-arrow-r2@2x.png', pem(0), pem(0));
//    background-size: pem(216) pem(216);
//  }
//}
